<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .menu
        {
            cursor:pointer;
        }
        .menu p
        {
            display: none;
        }
        .menu:hover p
        {
            display:inline-block
        }
    </style>
</head>
<body>
    <header style="position:relative;width: 916px; top: -117px; left: 429px;">
        <p style="font-family:Microsoft New Tai Lue;font-size:125px; width: 907px; color:saddlebrown">.Net Community</p>
    </header>
    <nav style="position:relative; top: -250px; left: 5px; width: 1349px;">
        <table style="color:white">
            <tr>
                <td width="70px">@Html.ActionLink("Home", "UserHome", "User", null, new { style = "text-decoration:none;color:white;" })</td>
                <td width="70px" class="menu">Forum
                    <p style="position:absolute;top: 6px; left: 78px;">
                        @Html.ActionLink("Post A Query", "PostQuery", "User", null, new { style = "text-decoration:none;color:white;background-color:sandybrown;" })
                        <br />
                        @Html.ActionLink("View All Queries", "ViewAllQueries", "User", null, new { style = "text-decoration:none;color:white;background-color:sandybrown;" })
                        <br />
                        @Html.ActionLink("View All Answered Queries", "ViewAllAnsweredQueries", "User", null, new { style = "text-decoration:none;color:white;background-color:sandybrown;" })
                    </p>
                </td>
                <td width="70px" class="menu">
                    Article
                    <p style="position:absolute;top: 6px; left: 152px;">
                        @Html.ActionLink("Post Article", "PostArticle", "User", null, new { style = "text-decoration:none;color:white;background-color:sandybrown;" })
                        <br />
                        @Html.ActionLink("Search Articles", "SearchArticles", "User", null, new { style = "text-decoration:none;color:white;background-color:sandybrown;" })
                        <br />
                        @Html.ActionLink("View All Articles", "ViewAllArticles", "User", null, new { style = "text-decoration:none;color:white;background-color:sandybrown;" })
                    </p>
                </td>
                <td width="70px" class="menu">
                    Project
                    <p style="position:absolute;top: 6px; left:227px;">
                        @Html.ActionLink("Upload Project", "UploadProject", "User", null, new { style = "text-decoration:none;color:white;background-color:sandybrown;" })
                        <br />
                        @Html.ActionLink("Download Project", "DownloadProject", "User", null, new { style = "text-decoration:none;color:white;background-color:sandybrown;" })
                    </p>
                </td>
                <td>
                @Html.ActionLink("Logout", "UserLogout", "User", null, new { style = "text-decoration:none;color:white;" })
                </td>
            </tr>
        </table>
    </nav>
    <div style="height:590px;margin-top:-430px">
        <div>
            <img src="~/PImages/BgNoName.png" />
        </div>
        <div style="position:relative;top:-452px; left: 245px; height: 403px; width: 863px;">
            @RenderBody()
        </div>
    </div>
    <footer style="position:relative; top: -2px; left: 507px; width: 364px;">
        <p style="font-family:Microsoft New Tai Lue;color:saddlebrown">Copyright ® Reserved@2019 by .Net Community™</p>
    </footer>
</body>
</html>
